# Dependencies
node_modules/

# IDE
.idea/
.vscode/

# Swagger
swagger.json

# Package Managers
package-lock.json
yarn.lock
yarn-error.log
pnpm-lock.yaml

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Build
dist/
build/

# Cache
.cache/
.codegpt/

# Playwright
playwright-report/
test-results/